@charset "UTF-8";

.subMain {
    height: 7rem;
    font-family: 'Philosopher',serif;
    font-size: 45px;
    text-align: left;
    padding-top: 1rem;
    padding-left: 3rem;
}

nav {
    background-color: aqua;
}

.main-nav {
    display: flex;
    justify-content: center;
    list-style: none;
}

.main-nav li {
    font-size: 20px; 
}

.li-1{
    margin-right: 5rem;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    padding-right: 5rem;
    padding-left: 5rem;
    border-color: white;
}

.li-3{
    margin-left: 5rem;
    margin-right: 3rem;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    padding-right: 5rem;
    padding-left: 5rem;
    border-color: white;
}

.main-nav a {
    color: rgb(104, 103, 103);
}

a {
    text-decoration: none;
}

body {
    text-align: center;
}

#photos {
    max-width: 1000px;
    width: 100%;
    height: 33rem;
    margin-top: 1rem;
    position: relative;
}

#slide {
    position: relative;
}

#slide .leftArrow,
#slide .rightArrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

#slide .leftArrow {
    left: 13rem;
}

#slide .rightArrow {
    right: 13.4rem;
}

#slide .leftArrow,
#slide .rightArrow {
    font-size: 50px;
    color: gray;
}

#slide .leftArrow:hover,
#slide .rightArrow:hover {
    opacity: 0.5; /*カーソルを当てた時の透明度*/
}