@charset "UTF-8";

body {
    text-align: center;
}


.subMain {
    height: 6rem;
    font-family: 'Philosopher',serif;
    font-size: 45px;
    text-align: left;
    padding-left: 2rem;
    line-height: 6rem;
    background-color: skyblue;
}

.main-nav {
    background-color: greenyellow;
    height: 4rem;
    display: flex;
    justify-content: center;
    list-style: none;
}

li {
    font-size: 20px;
    line-height: 2.8rem;
}

.li-1 a,
.li-2 a,
.li-3 a{
    display: block;
    padding-right: 5rem;
    padding-left: 5rem;
    text-decoration: none;
    color: black;
}

.li-1{
    margin: 10px 11px;
    background-color: rgb(255, 255, 0);
    border-color: white;
}

.li-2{
    background-color: rgb(255, 255, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
    border-color: white;
}

.li-3{
    margin: 10px 16px;
    background-color: rgb(255, 255, 0);
    border-color: white;
}

.li-1:hover,
.li-2:hover,
.li-3:hover{
    opacity: .7;
    transform: scale(1.1);
}